*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  position:relative;
  background-color: #e8e9ea;
}
#top{
  width:100%;
  height: 150px;
  background-color: #128c7e;
}

#container-wapp{
  width:80%;
  height:95%;
  position:absolute;
  top:50%;
 left:50%;
 transform: translate(-50%, -50%);
 display: flex;

}

.left-section{
  width:30%;
  height: 100%;
  background-color: #fff;
  position:relative;
}

.rigth-section{
  width: 70%;
  height: 100%;
  /* background-color: pink; */
  position: relative;
  background-image: url('img/wapp-back.png');
}

.info, .destinatario{
  width:100%;
  height: 200px;
  position: absolute;
  top:0;
  left:0;
}

.destinatario, .one, .three{
  height: 80px;
  background-color: #f3f4f5;
}

.one{
  border-right: 2px solid #dbdbdb;
}

.two{
  height: 70px;
  background-color: #34B7F1;
}

.three{
  height: 50px;
}



.input-message{
  width:100%;
  height: 70px;
  position: absolute;
  left:0;
  bottom:0;
  background-color: #ece5dd;
}
