*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  position:relative;
  background-color: #e8e9ea;
}

img{
  width:80px;
  padding:0 10px;
}

header{
  width:100%;
  height: 150px;
  background-color: #128c7e;
}

#container-wapp{
  width:80%;
  height:90%;
  position:absolute;
  top:50%;
 left:50%;
 transform: translate(-50%, -50%);
 display: flex;
}
/* Sezione sinistra */
.left-section{
  width:30%;
  height: 100%;
  background-color: #fff;
  position:relative;
}

.info{
  height: 30%;
}

.section-one{
  border-right: 2px solid #dbdbdb;
  height: 12vh;
}

.section-two{
  padding:5% 2%;
  background-color: #34B7F1;
  display: flex;
  align-items:center;
}

.notifiche a{
  color:#585b5d;
  font-size: 14px;
}

.fa-bell-slash{
  padding: 10px;
  margin:0 10px;
  font-size: 24px;
  border-radius: 50%;
  color:#34B7F1;
  background-color: rgba(255, 255, 255, 0.8);
}

.section-three{
  padding:2% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.contacts{
  width:100%;
  height:70%;
  overflow: auto;
}
/* width */
.contacts::-webkit-scrollbar {
  width: 0;
}

/* casella avatar */
.user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:10px 0;
  border-bottom: 1px solid #d8d8d8;
}
/* l'avatar del mio account */
.me{
  justify-content: space-between;
  border:none;
  padding:15px 0;
}

/* icone vicino al profilo personale in alto a sinistra */
.notifiche i{
  font-size: 20px;
  color: grey;
  padding:0 7px;
  margin-right: 10px;
}
/* Utente in rubrica attivo con cui sto parlando */
.active{
  background-color: #d8d8d8;
}

.stato-wapp{
  font-size: 14px;
  color:grey;
  padding-top: 5px;
}

/* Sezione destra */
.right-section{
  width: 70%;
  height: 100%;
  position: relative;
  background-image: url('img/wapp-back.png');
}

.header-right{
  display: flex;
  align-items: center;
  height: 12vh;
}

.header-right, .section-one, .section-three{
  background-color: #f3f4f5;
}

.input-message{
  width:100%;
  height: 70px;
  position: absolute;
  left:0;
  bottom:0;
  background-color: #ece5dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-msg{
  width:90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-message input, .section-three input{
  border: none;
  width:80%;
  height: 50px;
  border-radius: 3px;
}
input:focus{
 outline:none;
 padding-left:3%;
}

.section-three input{
  width:80%;
  height: 25px;
}

.section-three a{
  width:15%;
  height: 25px;
  background-color: #fff;
  text-decoration: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search{
  font-size: 16px;
  color:grey;
  padding-left: 5%;
  color:#ccc;
}

/* placeholder style */
.input-message ::-webkit-input-placeholder, .section-three ::-webkit-input-placeholder{ /* WebKit browsers */
    color: #ccc;
    padding-left: 3%;
}

.input-message i{
  font-size: 25px;
  color:grey;
}

.message-right-container{
  width: 100%;
  height: calc( 100% - 70px - 70px);
}

.message-right-container .message{
  position:relative;
  float:left;
  clear: both;
  min-width: 25%;
  max-width:50%;
  margin:10px;
  padding:20px;
  border-radius:5px;
  z-index:999;
  background-color: #fff;
}

.message-right-container .message.sent{
  float:right;
  background-color: #dcf8c6;
}

.message-right-container .message-time{
  position:absolute;
  bottom:5px;
  right: 5px;
  font-size: 12px;
}

.message-right-container .right-messages{
  display: none;
}

.message-right-container .right-messages.active{
  display: block;
}


.message-right-container .message .message-options-menu,
.message-right-container .message .message-options{
  display: none;
}


.message-right-container .message:hover .message-options{
  display: block;
  float: right;
  cursor: pointer;
}


/* Stile opzioni menu messaggio */

.message-right-container .message .message-options-menu{
  position:absolute;
  bottom: -75px;
  right:0;

  width: 180;
  height: 80px;
  padding:5px;
  background-color: #fff;
  color:#585b5d;
  text-align: inherit;
  line-height: 25px;
  font-size: 14px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px 0px #585b5d;
}

.message-destroy{
  cursor: pointer;
}
