*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100vh;
  position:relative;
  background-color: #e8e9ea;
}
#top{
  width:100%;
  height: 150px;
  background-color: #128c7e;
}

#container-wapp{
  width:80%;
  height:95%;
  position:absolute;
  top:50%;
 left:50%;
 transform: translate(-50%, -50%);
 display: flex;

}

.left-section{
  width:30%;
  height: 100%;
  background-color: #fff;
  position:relative;
}

.rigth-section{
  width: 70%;
  height: 100%;
  /* background-color: pink; */
  position: relative;
  background-image: url('img/wapp-back.png');
}

.info, .destinatario{
  width:100%;
  height: 200px;
  position: absolute;
  top:0;
  left:0;
}

.destinatario, .section-one, .section-three{
  height: 80px;
  background-color: #f3f4f5;
}

.section-one{
  border-right: 2px solid #dbdbdb;
}

.section-two{
  height: 70px;
  background-color: #34B7F1;
}

.section-three{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-message{
  width:100%;
  height: 70px;
  position: absolute;
  left:0;
  bottom:0;
  background-color: #ece5dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-msg{
  width:90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-message input, .section-three input{
  border: none;
  width:80%;
  height: 50px;
  border-radius: 3px;
}
input:focus{
 outline:none;
 padding-left:3%;
}

.section-three input{
  width:80%;
  height: 25px;
}

.section-three a{
  width:15%;
  height: 25px;
  background-color: #fff;
  text-decoration: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search{
  font-size: 16px;
  color:grey;
  padding-left: 5%;
  color:#ccc;
}

/* placeholder style */
.input-message ::-webkit-input-placeholder, .section-three ::-webkit-input-placeholder{ /* WebKit browsers */
    color: #ccc;
    padding-left: 3%;
}

.input-message i{
  font-size: 25px;
  color:grey;
}

/* #message-content{
  width:100%;
  height: 80%;
  margin-top: 80px;
} */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#message-content{
  margin-top: 80px;
}

.template{
  display:none;
}

.chat-utente{
  float:right;
}

.lista{
  background-color:#128C7E;
  padding:5px;
  margin:5px;
  border-radius: 5px;
  color: #fff;
}

/* .chat-risposta{
  background-color:#fff;
  border-radius: 5px;
  color: #000;
  float:left;
} */
